# Spark MIDI Bridge deployment configuration
# Copy this file to '.env' and adjust the variables as needed.

# Target Raspberry Pi IP or Hostname
PI_IP=192.168.0.208

# SSH username on the Raspberry Pi
PI_USER=jmsalazardev

# Compilation target for cross (e.g. arm-unknown-linux-gnueabihf, aarch64-unknown-linux-gnu)
TARGET=arm-unknown-linux-gnueabihf

# Name of the output packaged tarball archive
ARCHIVE_NAME=spark_midi_bridge.tar.gz
